<script id="bootstrap-current-user" type="text/javascript">
  window.currentArtist = <%= render("api/artists/artist.json.jbuilder",
      user: current_artist).html_safe %>
</script>

<div id='root'></div>
