<script id="bootstrap-current-artist" type="text/javascript">
  window.currentArtist = <%= render("api/artists/artist.json.jbuilder",
      artist: current_artist).html_safe %>
</script>

<div id='root'></div>
