<% if logged_in? %>
  <%= current_artist.username %>
<% end %>

<script id="bootstrap-current-user" type="text/javascript">
  <%if logged_in? %>
    window.currentArtist = <%= render("api/users/user.json.jbuilder", artist: current_artist).html_safe %>
  <% end %>
</script>

<div id='root'></div>
