.large-header {
  width: 84%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:110px;
  margin-left: 8%;
  margin-right: 8%;
}

#nav-right{
  font-weight: bolder;
}

#search-bar i{
  position:absolute;
  top: 2px;
  right: 2px;
}

#search-bar input {
  padding: 3px;
  width: 100%;
  font-weight: bolder;
}

#search-bar {
  position:relative;
  padding-right: 10px;
}

.head-nav{
  display:flex;
  justify-content: space-around;
  font-size: 16px;
}

.header-logo {
  margin: 0 0 0 2%;
  font-size: 36px;
  font-weight:bolder;
}

.nav-right {
  display: flex;
  justify-content: space-around;
}
