@media screen and (max-width: 955px) {
  #profile-picture{
    max-height: 200px;
  }
  .volume-bar {
    width: 80px;
  }

  #seek-bar {
    width: 400px;
  }
}

@media screen and (max-width: 700px) {
  .header-logo {
    display:none;
  }

  #search-bar {
    margin-left: 10%;
    width: 55%;
  }

  .volume-bar {
    width: 60px;
  }

  #seek-bar {
    width: 300px;
  }
}

@media screen and (max-width: 550px) {
  #profile-picture{
    max-height: 150px;
  }

  .volume-bar {
    width: 50px;
  }

  #seek-bar {
    width: 200px;
  }
}

@media screen and (max-height: 300px) {
  #profile-picture{
    margin-top: 10%;
    max-width: 200px;
  }

  .volume-bar {
    width: 40px;
  }

  #seek-bar {
    width: 100px;
  }
}
