.slider {
  margin-bottom: 20%;
}

.genre-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.slider-item-img {
  height : 75px;
  width : 75px;
  margin-left : auto;
  margin-right : auto;
}

.slider-item {
  width: 200px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.slider-item:hover{
  border: 2px $pink solid;
  border-radius: 4px;
}

.splash-heading{
  color: $offwhite;
  font-size: 42px;
  margin-top: 4%;
  margin-bottom: 2%;
}

.genre-buttons {
  display: flex;
  margin-left: 10%;
  max-width: 70%;
  justify-content: space-between;
}

.genre-buttons button {
  margin-bottom: 2%;
  border: 2px $pink solid;
  border-radius: 4px;
  height: 44px;
  width: 160px;
  background-color: $black;
  color: whitesmoke;
  font-size: 18px;
}

.genre-container{
  color: white;
  height: 60%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 80%;
  border: 2px $pink solid;
  border-radius: 4px;
  margin-left: 10%;
  margin-right: 10%;
  display: none;
}

.genre-show {
  display: block;
}

.active-genre-button {
  background-color : $pink !important;
  color : $black !important;
}
