.song-list{
  font-size: 18px;
  font-weight: bold;
}

.song-listing {
  display: flex;
  justify-content: space-between;
}

.song-listing p:hover{
  border-bottom: 1px $pink solid;
}

.icons i{
  margin: 3px;
  color: black;
}
