#splash{
  width: 100%;
  height: 560px;
  text-align: center;
  margin: 0;
}

#main-splash, #secondary-splash{
  color: $pink;
  float:left;
  display: block;
  height: 560px;
}

.small-splash{
  // padding: 5% 5% 5% 5%;
}

#main-splash {
  background: image-url("splash/sylvan_esso.jpg");
  float:left;
  display: block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 3px $pink solid;
}

#tom-waits{
  background: image-url("splash/tom_waits.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 33%;
  box-sizing: border-box;
  border-right: 3px $pink solid;
  border-top: 3px $pink solid;
  border-bottom: 3px $pink solid;
}

#esso-text{
  margin: 80px 0 0 400px;
  text-shadow: -2px 2px $offwhite;
  text-weight: bolder;
}

#esso-head{
  font-size: 70px;
}

#esso-p{
  font-size: 18px;
}


#vince-staples{
  background: image-url("splash/vince_staples2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height:34%;
  box-sizing: border-box;
  border-right: 3px $pink solid;
}

#pup{
  background: image-url("splash/pup.jpg");
  background-size: fill;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 33%;
  box-sizing: border-box;
  border-right: 3px $pink solid;
  border-top: 3px $pink solid;
  border-bottom: 3px $pink solid;
}

.small-splash{
  text-align: left;
}
