#splash{
  width: 100%;
  height: 560px;
  text-align: center;
  margin: 0;
}

#main-text, .second-splash-text {
  color: $pink;
  text-weight: bolder;
}

#main-splash, #secondary-splash{
  color: black;
  float: left;
  display: block;
  height: 560px;
  margin-bottom: 10%;
}


#main-splash{
  background: image-url("splash/esso_splash_2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  float:left;
  display: block;
  border: 3px black solid;
  padding-top: 7%;
  padding-left: 30%;
  border-right: 3px solid $pink;
}

#small-splash-1{
  background: image-url("splash/national_splash2.jpg");
  background-size: 100% 100%;
  background-size: fit;
  height: 33%;
  border-right: 3px black solid;
  border-top: 3px black solid;
  border-bottom: 3px $pink solid;
}

#small-splash-2 {
  background: image-url("splash/shakey_splash.jpg");
  background-size: 100% 100%;
  background-size: fit;
  height:34%;
  border-right: 3px black solid;
}

#small-splash-3{
  background-image: url("http://www.winniecooper.net/scott/march%202014/PUP.jpg");
  background-size: 100% 100%;
  background-size: fit;
  height: 33%;
  border-right: 3px black solid;
  border-top: 3px $pink solid;
  border-bottom: 3px black solid;
}

.small-splash{
  text-align: left;
  background-size: 100% 100%;
  background-size: fit;
  box-sizing: border-box;
  padding: 10% 10%;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 1px 1px $offwhite
}


#main-splash p {
  font-size: 24px;
};

#main-splash h3{
  font-size: 70px;
}

#main-text {
  // margin: 80px 0 0 400px;
  text-shadow: -2px 2px $offwhite;
}

.opp {
  opacity : .25;
}

#small-splash-1, #small-splash-2, #small-splash-3, #main-splash{
  background-color: black;
}

.update-button {
  background-color: $offwhite;
  border: $pink solid 4px;
  border-radius: 2px;
  font-weight: bolder;
  opacity: .5;
}

.update-button:hover {
  opacity:1;
}
